In [27]:
# Importamos Librerias
import pandas as pd
import seaborn as sns

In [28]:
# Importamos el Dataset Titanic desde Seaborn
df = sns.load_dataset('titanic')

In [29]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df_pp1 = df.dropna()
df_pp1.reset_index(drop=True)

In [ ]:
df_pp1

In [32]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [57]:
df[(df["age"] > 70) & (df["sex"] == "male")]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
96,0,1,male,71,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
493,0,1,male,71,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
630,1,1,male,80,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True

In [35]:

df[(df["sex"] == "male") & (df["age"] == 22)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
60,0,3,male,22.0,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
80,0,3,male,22.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
112,0,3,male,22.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
212,0,3,male,22.0,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
225,0,3,male,22.0,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
243,0,3,male,22.0,0,0,7.1250,S,Third,man,True,NaN,Southampton,no,True
287,0,3,male,22.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
320,0,3,male,22.0,0,0,7.2500,S,Third,man,True,NaN,Southampton,no,True
373,0,1,male,22.0,0,0,135.6333,C,First,man,True,NaN,Cherbourg,no,True
395,0,3,male,22.0,0,0,7.7958,S,Third,man,True,NaN,Southampton,no,True
478,0,3,male,22.0,0,0,7.5208,S,Third,man,True,NaN,Southampton,no,True
521,0,3,male,22.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
553,1,3,male,22.0,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,yes,True
588,0,3,male,22.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [60]:
df.query('sex == "male" and age == 22 and fare > 8')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
80,0,3,male,22,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
112,0,3,male,22,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
225,0,3,male,22,0,0,9.3500,S,Third,man,True,NaN,Southampton,no,True
373,0,1,male,22,0,0,135.6333,C,First,man,True,NaN,Cherbourg,no,True
588,0,3,male,22,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [39]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [45]:
df["age"]=df["age"].fillna(df["age"].mean())

In [46]:
df["age"]=df["age"].astype(int)

In [47]:
df.dtypes

survived          int64
pclass            int64
sex              object
age               int64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object